.App {
  text-align: center;
  width: 100vw !important;
  min-height:100vh !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.NavBar {
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  background-color: rgb(116, 116, 116);
  padding: 0%;
  
  /* background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -backgroud-clip: text;
  -webkit-text-fill-color: transparent; */
}

.modal-content{
  background-color: rgb(214, 214, 214);
  color: rgb(66, 66, 66) !important;
  text-align: center;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
