body {
  background-color: #333335;
  color: white;
}

.Verses {
  font-family: 'Exo 2', sans-serif;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.Verses h1 {
  line-height: 1.5;
}

.Answers {
  color: black;
}

.ModalTitle {
  color: black !important;
}

.bismillah {
  font-family: 'Lateef', cursive;
  font-size: 1.5rem;
}

.modal-open[style] {
  padding-right: 0px !important;
  }

.Select {
  width: 50vw !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
